body {
    font: 14px "Verdana";
    text-align: center;
    background: #DA22FF;
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);
    background: linear-gradient(to right, #9733EE, #DA22FF);
  }
  
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(88, 88, 88);
  border: 3px solid rgb(128, 128, 128);
  float: left;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -3px;
  margin-top: -3px;
  padding: 2px;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:12em;
}

.game-info {
  margin-left: 20px;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 39px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 39px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 39px -7px rgba(0,0,0,0.75); 
}

.game-board div {
  -webkit-box-shadow: 0px 0px 39px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 39px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 39px -7px rgba(0,0,0,0.75);
}

.status h2 {
  color: #9733EE;
}

ol > li > button {
  background: #eee;
  border: none;
  cursor: pointer;
  border-radius: 50px 50px 50px 50px;
  color: rgb(75, 75, 75);
  padding: 10px 20px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.moves > li > button:hover {
  background-color: #DA22FF;
  color: white;
}